# don't enable
MODE=TEST
=
# Choose your secret key
SECRET_TOKEN_KEY=
REFRESH_TOKEN_KEY=
EXPIRE_TOKEN=
EXPIRE_REFRESH_TOKEN=
=
# Port APP
APP_PORT=3000
=
# Configuration Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
=
REDIS_HOST=localhost
REDIS_PORT=6380
# Only for production
REDIS_USERNAME=
REDIS_PASSWORD=
=
### PHONE NUMBER
PHONE_KEY=
PHONE_URL=
